/* The default CSS for all contents related stuff */

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  background: black;
  font-family: 'Lucida Console', monospace, sans-serif;
}